*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Lato;
}

li, a, button
{
    font-family: Lato;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header
{
    background-color: #24252A;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo
{
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin-right: auto;

}

.nav_links li
{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a
{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover
{
    color: #0088a9;
}

/*alert*/
.alert{
    color: red;
    background-color: #FDB7B7;
    font-style: italic;
    border: 1px solid red;
    padding: 1em;
    border-radius: 10px;
    width: max-content;
}

/* forms */
input[type="text"],
input[type="number"],
input[type="date"],
input[type="password"],
input[type="email"],
textarea,
select {
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    display: block;
    margin-bottom: 1em;
}

/*buttons*/
button.submit{
    color : forestgreen;
    padding: 1em 1em;
    margin-top: 1em;
    border: 1px solid forestgreen;
    transition-duration: 0.4s;
    border-radius: 15px;
}

button.submit:hover{
    color: #FFFFFF;
    background-color: forestgreen;
}


/* Outputs view */

.col1
{
    margin-left: 10px;
    color: red;
}

.col2
{
    margin-right: 10px;
}

/* afficher sorties */

.containerSortie
{
    text-align: center;
}

#afficherSortie
{
    display: inline-block;


    max-width: 350px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    min-width: 10px;
    margin: auto;

}

.titreAfficherSortie
{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.paraAfficherSortie
{
    padding: 20px 5px 20px 5px;

}

.container1sortie
{
    max-width: 400px;
    min-width: 20px;
    width: 250px;
    border: solid;
    text-align: left;
    max-height: 700px;

}
.container2sortie
{
    max-width: 400px;
    min-width: 20px;
    width: 250px;
    border: solid;
    text-align: right;
    max-height: 700px;

}
.container3sortie
{
    max-width: 400px;
    min-width: 20px;
    width: 250px;
    border: solid;
    text-align: left;
    max-height: 700px;
}
.container4sortie
 {
    max-width: 400px;
    min-width: 20px;
    width: 250px;
    border: solid;
    text-align: right;
    max-height: 700px;
 }

.boutonAfficherSorties
{
    width: 180px;
    color: #ffffff;
    font-size: 18px;
    background-color: #24252A;
    padding: 12px 0;
    cursor: pointer;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    margin-bottom: 30px;
    margin: auto;
}
.boutonAfficherSorties:hover
{
    color: white;
    background-color: #3f4044;
    text-decoration: blink;
}
.boutonAfficherSortiesDiv
{
    text-align: center;
    margin-top: 50px;

    margin-bottom: 50px;

}

/*profile / fiche */

.container{
    display: flex;
    justify-content: space-evenly;
}

section div{
    margin: 1em;
}

button.retour{
    color: lightpink;
    padding: 1em 1em;
    margin-top: 1em;
    border: 1px solid lightpink;
    transition-duration: 0.4s;
    border-radius: 15px;
}

button.retour:hover{
    color: #FFFFFF;
    background-color: lightpink;
}

h2{
    display: flex;
    justify-content: center;
}

.button_retour{
    display: flex;
    justify-content: center;
}

section.button{
    display: flex;
    justify-content: space-around;
}
