{% extends 'base.html.twig' %}
{% block title %}Creation d'une sortie{% endblock %}

{% block body %}
    <h1> Creation d'une sortie </h1>
<div class="container">
    {{ form_start(sortieForm) }}

        {{ form_widget(sortieForm) }}
{#
    <script>var lelieu=parseInt(sortie_lieu.value) ;</script>
    <p>Ville : <script>
            document.write(" (id du lieu) : " + lelieu);
        </script> </p>
    <p>Rue : </p>
    <p>Code postal : </p>
    <p>latitude : </p>
    <p>longitude : </p>
#}
        <button type="submit" class="btn btn-success "> Créer </button>
        <div class="container padding">
            <a href="{{ path('main_accueil') }}" title="Accueil"><button type="button" class="btn btn-secondary">Retour</button></a>
        </div>
    {{ form_end(sortieForm) }}





</div>
{% endblock %}
