{% extends 'base.html.twig' %}
{% block title %}Modification d'une sortie{% endblock %}

{% block body %}
    <h1> Modification d'une sortie </h1>
<div class="container">
    {{ form_start(sortieForm) }}

        {{ form_widget(sortieForm) }}
    <div class="padding">
        <button type="submit" class="btn btn-success"> Modifier </button>
        <a href="#" title="Suppression"><button type="button" class="btn btn-danger">Supprimer</button></a>
        <a href="{{ path('main_accueil') }}" title="Accueil"><button type="button" class="btn btn-secondary">Retour</button></a>
    </div>



    {{ form_end(sortieForm) }}




</div>
{% endblock %}
