{% extends 'base.html.twig' %}

{% block title %}Panneau d'administration{% endblock %}

{% block body %}

    <h3 class="adminTitle">Vous êtes connectés sur le compte administrateur {{ app.user.prenom }} {{ app.user.nom|upper}}.</h3>
    <br>
    <div class="container">
    <a href="{{ path('admin_inscription') }}" title="nouvel élève"><button type="button" class="btn btn-success">Inscription d'un nouvel élève</button></a>
    <a href="{{ path('admin_list') }}" title="liste utilisateur"><button type="button" class="btn btn-success">Voir la liste des utilisateurs</button></a>
    </div>

{% endblock %}