<img class="logo" src="img/logo/logo.png" alt="logo">
<nav>
    <ul class="nav_links">
        <li><a href="#">VILLES</a> </li>
        <li><a href="#">CAMPUS</a> </li>
        <li><a href="{{ path('main_accueil') }}">ACCUEIL</a></li>
        <li><a href="{{ path('edit_profile') }}">MON PROFIL</a></li>
    </ul>
</nav>
